<div class="removeImg"> 
    <img src="../img/slide1.jpeg" alt="slide1" class="topImg">
</div>
<div class="background">
    <div class="booking-container">
        <h1>Book a place to stay</h1>
        <form class="booking">
            <label>WHERE</label> 
            <input type="text" id="Location" placeholder="location" class="input"> 
            <div class="checkInOut">
                <div>
                    <label>CHECK-IN</label>
                    <input type="date" class="input" id="check-in">
                </div>
                <div>
                    <label>CHECK-OUT</label>
                    <input type="date" class="input" id="check-out">
                </div>
            </div>
            <label>Guests</label> 
            <div class="guest" id="guest">
                <button class="guest-btn" id="guest-btn">
                    <h2>Guest</h2>
                    <i class="material-icons">arrow_downward</i>
                </button> 
                <div class="guestNum">
                    <h2>Adults</h2>
                    <div class="changeQuantity">
                        <div>
                            <input class="minusbutton" type="button" value="-">        
                            <div class="quantity">0</div>
                            <input class="plusbutton" type="button" value="+">       
                        </div>
                    </div>
                    <h2>Children (Age: 2-12)</h2>
                    <div class="changeQuantity">
                        <div>
                            <input class="minusbutton" type="button" value="-">        
                            <div class="quantity">0</div>
                            <input class="plusbutton" type="button" value="+">       
                        </div>
                    </div>    
                    <h2>Infants (Under 2)</h2>
                    <div class="changeQuantity">
                        <div>
                            <input class="minusbutton" type="button" value="-">        
                            <div class="quantity">0</div>
                            <input class="plusbutton" type="button" value="+">       
                        </div>
                    </div>    
                    <div class="clear"><button class="clr-btn btnUnselect">Clear</button></div>
                    <div class="save"><button class="save-btn btnUnselect">Save</button></div>
                </div>
            </div> 
            <div>
                <button type="submit" id="search-button" class="srch-btn">Search </button>
            </div>
        </form>
    </div>
</div>
<h1>Explore</h1>
<div class="explore">
    <div>
       <a href="#"> 
           <img src="../img/slide2.jpeg" alt="slide2">
            <p>Stays</p>
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../img/slide3.jpeg" alt="slide3">
            <p>Experiences</p>
        </a>
    </div>
    <div>
        <a href="/adventures">
            <img src="../img/slide5.jpeg" alt="slide5">
            <p>Adventures</p>
        </a>
    </div>
</div>

{{!-- featured room section --}}
<h1>Featured Rooms</h1>
<div class="rooms" id="rooms">
    {{#each featured}}
        <article class="room">
            <header>
                <img src="/img/{{this.roomImg}}" alt="room img">
            </header>
            <div class="name-price">
                <h3>{{this.name}}</h3>
                <data value="{{this.price}}"><ins>${{this.price}}/night</ins></data>
            </div>
            {{!-- <div class="see-more">
                <p>{{this.description}}</p>
                <a href="#" class="extra-info">See more</a><br>
                <span class="invisible">{{this.extra}}</span>
            </div>
            <dl class="rating-fav">
            <div><dt><span class="material-icons">star</span> <h2>{{this.rating}}</h2></dt></div>
            <div class="align-right"><button type="button" class="fav but"><span class="material-icons fav-color">favorite_border</span></button></div>
            </dl> --}}
        </article>

    {{/each}}
</div>