<form class="searchbar" id="search" method="POST" action="/rooms" > 
    <label>Search</label>
    <input type="search" name="find" id="find" class="search" placeholder="search by location">
    <button type="submit"><span class="material-icons srchicon" id="srchicon">search</span></button>
</form>  
{{#if rooms}}
<div class="rooms" id="rooms">
    {{#each rooms}}
        <article class="room">
            <header>
                <img src="/img/{{this.roomImg}}" alt="room img">
            </header>
            <div class="name-price">
                <h3>{{this.name}}</h3>
                <data value="{{this.price}}"><ins>${{this.price}}/night</ins></data>
            </div>
            <div class="see-more">
                <p>{{this.description}}</p>
                <a href="#" class="extra-info">See more</a><br>
                <span class="invisible">{{this.extra}}</span>
            </div>
            <dl class="rating-fav">
            <div><dt><span class="material-icons">star</span> <h2>{{this.rating}}</h2></dt></div>
            <div class="align-right"><button type="button" class="fav but"><span class="material-icons fav-color">favorite_border</span></button></div>
            </dl>
        </article>

    {{/each}}
</div>
{{/if}}
{{#if searchedRooms}}
<div class="searchedData">
    <h1>Rooms matched to search</h1>
    <a href="/rooms">see all</a>
</div>
<div class="rooms" id="rooms">
    {{#each searchedRooms}}
        <article class="room">
            <header>
                <img src="/img/{{this.roomImg}}" alt="room img">
            </header>
            <div class="name-price">
                <h3>{{this.name}}</h3>
                <data value="{{this.price}}"><ins>${{this.price}}/night</ins></data>
            </div>
            <div class="see-more">
                <p>{{this.description}}</p>
                <a href="#" class="extra-info">See more</a><br>
                <span class="invisible">{{this.extra}}</span>
            </div>
            <dl class="rating-fav">
            <div><dt><span class="material-icons">star</span> <h2>{{this.rating}}</h2></dt></div>
            <div class="align-right"><button type="button" class="fav but"><span class="material-icons fav-color">favorite_border</span></button></div>
            </dl>
        </article>

    {{/each}}
</div>
{{/if}}
{{#unless rooms}}
    {{#unless searchedRooms}}
        <div class="noData">
            <h1>No data to display please search again</h1>
            <a href="/rooms">see all</a>
        </div>
    {{/unless}}
{{/unless}}   
