<div class="center">
    <div class="signupBy">
        <p class="acnt-login">Sign up with  <a href="#"><span class="fbcolor"> Facebook </span></a> 
          or  <a href="#" class="char-space">
              <span class="gogBlue">G</span class="gogRed">
              <span class="gogRed">o</span>
              <span class="gogYellow">o</span>
              <span class="gogBlue">g</span>
              <span class="gogGreen">l</span>
              <span class="gogRed">e</span></a></p>
        <p class="orBetween"><span>or</span></p>
        <form class="input-form" method="POST" action="/signup" enctype="multipart/form-data">
            <div class="input-icons">      
                <i class="fa fa-envelope icon-signup"> </i> 
                <input class="input-field" type="email" placeholder="Email address" name="email" value="{{data.email}}">
                {{#if messages.email}}
                    <div class="error"> {{messages.email}} </div>
                {{/if}}       
                <i class="far fa-user icon-signup"> </i> 
                <input class="input-field" type="text" placeholder="First Name" name="firstName" value="{{data.fname}}">
                {{#if messages.firstName}}
                   <div class="error"> {{messages.firstName}} </div>
                {{/if}}
                <i class="far fa-user icon-signup"> </i> 
                <input class="input-field" type="text" placeholder="Last Name" name="lastName" value="{{data.lname}}">
                {{#if messages.lastName}}
                   <div class="error"> {{messages.lastName}} </div>
                {{/if}}
                <i class="fas fa-mobile-alt icon-signup"></i>
                <input class="input-field" type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="ex: 123-456-7890" value="{{data.phone}}">
                {{#if messages.phone}}
                   <div class="error"> {{messages.phone}} </div>
                {{/if}}
                <i class="fas fa-unlock-alt icon-signup"></i>
                <input class="input-field" type="password" placeholder="Password" name="password">
                {{#if messages.password}}
                   <div class="error"> {{messages.password}} </div>
                {{/if}}
                {{#if messages.passType}}
                   <div class="error"> {{messages.passType}} </div>
                {{/if}}
                <i class="fas fa-unlock-alt icon-signup"></i>
                <input class="input-field" type="password" placeholder="Confirm password" name="confirmPassword">
                {{#if messages.confirmPassword}}
                   <div class="error"> {{messages.confirmPassword}} </div>
                {{/if}}
                {{#if messages.match}}
                   <div class="error"> {{messages.match}} </div>
                {{/if}}
            </div> 
            <div class="userProfile">
                <p class="profileImg"> choose profile pic</p>
                <input type="file" name="userImg">
            </div>
            <label class="birthday">Birthday</label>
            <p class="info">To sign up, you need to be at least 18. Other people won’t see your birthday.</p>
              
                {{#if messages.month}}
                   <div class="error dateError"> {{messages.month}} </div>
                {{/if}}
                {{#if messages.day}}
                   <div class="error dateError"> {{messages.day}} </div>
                {{/if}}
                {{#if messages.year}}
                   <div class="error dateError"> {{messages.year}} </div>
                {{/if}}
                
            <div class="date">
                <fieldset class="month">
                    <select  name="month" id="month">
                        {{#if data.month}}
                        <option value="{{data.month}}" selected>{{data.month}}</option>
                        {{/if}}
                    </select>
                </fieldset>
                <fieldset class="day">
                    <select name="day" id="day"> 
                        {{#if data.day}}
                        <option value="{{data.day}}" selected>{{data.day}}</option>
                        {{/if}}
                    </select>
                </fieldset>
                <fieldset class="year">
                    <select name="year" id="year">
                        {{#if data.year}}
                        <option value="{{data.year}}" selected>{{data.year}}</option>
                        {{/if}}
                    </select>
                </fieldset>
            </div>
            <p class="marketing">Would you like to recieve members-only deals, inspiration, promotions and policy updates via email. You can opt out of receiving these at any time in your account settings or directly from the marketing notification.</p>
            <div class="checkbox">
                <div><input type="checkbox"><p class="marketing">I don’t want to receive marketing messages</p></div>
            </div>
            <button type="submit" class="button signup-btn"> Sign up</button>
        </form>
        <div class="orBetween"></div>
        <p class="acnt-login">Already have an account <a href="/login">Login</a></p>
    </div>
</div>